.group{
  border: 1px solid #e5e7eb ;
}
.group:hover{
  animation: formationBorder 1s ease-out forwards ;
} 

.cartBtn:hover .text{
  display: none;
}

.cartBtn:hover .cart{
  display: block;
}

.cart{
  display: none;
}

@keyframes formationBorder {
  0%{
    border-left: 3px solid #d52d2a;

  }
  50%{
    border-left: 3px solid #d52d2a;
    border-top: 3px solid #d52d2a ;
    border-bottom: 3px solid #d52d2a ;

  }
  100%{
    border-left: 3px solid #d52d2a;
    border-top: 3px solid #d52d2a ;
    border-bottom: 3px solid #d52d2a ;
    border-right: 3px solid #d52d2a;

  }

}